body{
    background-color: rgb(142, 85, 247);
}
.heading{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.navbar{
    float: right;

}
.box {
    width: 110px;
    text-align: center;
}
.img{
    margin-top: 10px;
    height: 600px;
    width: 1520px;
}
.mainabus{
    background-color: rgba(142, 86, 248, 0.733);
}
.fieldset{
    margin:50px;
    padding: 50px;
}
.link{
    color: black;
}